{% assign awords = site.data.data.awords %}
{% if awords %}
<section class="section awords-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ awords.title }}
  </h2>

  {% if awords.intro %}
  <div class="intro">
    {{ awords.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for aword in awords.papers %}
  <div class="item">
    {% if aword.link %}
      <li><a href="{{ aword.link }}">{{ aword.title }}</a></li>
    {% else %}
      <li>{{ aword.title }}</li>
    {% endif %}
    <div class="aword-authors">{{ aword.authors }}</div>
    <div class="aword-conference">{{ aword.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}